<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MWL_Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MWL_Tester.Properties.Settings>
            <setting name="CalledAET" serializeAs="String">
                <value />
            </setting>
            <setting name="CalledHost" serializeAs="String">
                <value />
            </setting>
            <setting name="CalledPort" serializeAs="String">
                <value />
            </setting>
            <setting name="CallingAET" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Client_LogDimseDatasets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Client_LogDataPDUs" serializeAs="String">
                <value>False</value>
            </setting>
        </MWL_Tester.Properties.Settings>
    </userSettings>
</configuration>